<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>T·Beat</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tajawal:300,400|Pacifico">
  <link rel="stylesheet" href="../static/main.css">
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- <script src="script.js"></script> -->
  <script type="text/javascript" src="waveform.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/wavesurfer.min.js"></script>
</head>

<body>
  <header>
    <h1>T·Beat</h1>
    <p>Tus palabras, tu música…</p>
  </header>
  <!-- main wavesurfer.js lib -->

  <div id="waveform"></div>

  <div style="text-align: center">
    <button class="btn btn-primary" onclick="wavesurfer.playPause()">
      <i class="glyphicon glyphicon-play"></i>
      Play
    </button>

    <p class="row">
      <div class="col-xs-1">
        <i class="glyphicon glyphicon-zoom-in"></i>
      </div>

      <div class="col-xs-10">
        <input id="slider" type="range" min="1" max="200" value="1" style="width: 100%" />
      </div>

      <div class="col-xs-1">
        <i class="glyphicon glyphicon-zoom-out"></i>
      </div>
    </p>
  </div>
</body>

</html>
